<<<<<<< HEAD
.menu {
	/*border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7A513D;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #7A513D;*/
	margin-bottom: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 20px;
    background-color: whitesmoke;
    justify-content: space-around;
    display: flex;
}

.menu a {
	color: #0A1E0F;
}

.menu a:hover {
	color: #7A513D;
}

.is-current {
	font-weight: bold;
}

@media (max-width: 500px) {
	.menu ul {
		flex-direction: column;
		padding: 0px;
		width: 100%;
	}
	
	.menu li {
		padding: 8px;
		width: 100%;
	}
=======
.menu {
	/*border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7A513D;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #7A513D;*/
	margin-bottom: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 20px;
    background-color: whitesmoke;
    justify-content: space-around;
    display: flex;
}

.menu a {
	color: #0A1E0F;
}

.menu a:hover {
	color: #7A513D;
}

.is-current {
	font-weight: bold;
}

@media (max-width: 500px) {
	.menu ul {
		flex-direction: column;
		padding: 0px;
		width: 100%;
	}
	
	.menu li {
		padding: 8px;
		width: 100%;
	}
>>>>>>> 1d575edacb70412d340a1cd0210d36e3a7018d77
}